<% show_post ||= false %>
<div class='row'>
  <div class="col-sm-8 well">
    "<%= comment.body %>"
    <% if show_post %>
      on <%= link_to comment.post.title, post_path(comment.post) %>
    <% end %>
    <p>
  		<span class='quiet'>by </span><%= link_to comment.creator.username, user_path(comment.creator) %>
  		<small>at <%= display_friendly_date(comment.created_at) %></small>
    </p>
  </div>
</div>