<span id="bookmark_button_<%= post.slug %>">
  <% if post.already_bookmarked_by_user?(current_user) %>
    <%= link_to remove_bookmark_user_path(post, post.bookmark_object(current_user)), method: 'delete', remote: true do %>
      <span class="fa fa-bookmark" aria-hidden="true"></span>
      <% end %>
  <% else %>
    <%= link_to bookmark_user_path(post), method: 'post', remote: true do %>
      <span class="fa fa-bookmark-o" aria-hidden="true"></span>
    <% end %>
  <% end %>
</span>

      