<%if logged_in? %>
  <p class='pull-right'>
  	<%= link_to "Create New Post", new_post_path, class: 'btn btn-success btn-small' %>
  </p>
<% end %>

<%= render 'shared/content_title', title: "All Posts" %>

<% @posts.each do |post| %>
	<%= render 'post', post: post %>
<% end %>
