<%if logged_in? %>
  <p class='pull-right'>
  	<%= link_to "Create New Post", new_post_path, class: 'btn btn-success btn-small' %>
  </p>
<% end %>

<%= render 'shared/content_title', title: "All Posts" %>

<div class="masonry js-masonry"  data-masonry-options='{ "columnWidth": 60 }'>
  <% @posts.each do |post| %>
  	<div class='item'><%= render 'post', post: post %></div>
  <% end %>
</div>
