/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
  font-family: "Oswald Light";
  src: font-url("Oswald-Light.otf");
}

@font-face {
  font-family: "Oswald Bold";
  src: font-url("Oswald-Bold.otf");
}

@font-face {
  font-family: "Oswald Regular";
  src: font-url("Oswald-Regular.otf");
}

@font-face {
  font-family: "Oswald Stencil";
  src: font-url("Oswald-Stencil.otf");
}

/********** NAV BAR **********/
.navbar-default {
  background-color: rgb(27,25,40);
}

.navbar-default .navbar-brand {
  color: #ffffff;
  font-family: "Oswald Stencil";
  font-size: 26px;
}

.navbar-default .navbar-brand:hover {
  color: #ffffff;
  font-size: 26px;
}

.navbar-default .navbar-nav > li > a {
  font-family: "Oswald Regular";
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
}

.dropdown-menu > li > a {
  font-family: "Oswald Regular";
}

.navbar {
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: rgb(179,12,23);
  color: #ffffff;
}

.dropdown-menu {
  background-color: rgb(27,25,40);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: rgb(179,12,23);
}

.navbar-default .navbar-nav .open .dropdown-menu .glyphicon {
  margin-right: 10px;
}

.navbar-default .navbar-nav > .active > a {
  background-color: rgb(179,12,23);
  color: #ffffff
}

.navbar-default .navbar-nav > .active > a:hover {
  background-color: rgb(179,12,23);
  color: #ffffff
}

.navbar-default .navbar-nav > #new-post > a {
  background-color: rgb(56,132,56);
  color: #ffffff;
}

.navbar-default .navbar-nav > #new-post > a:hover {
  background-color: rgb(56,132,56);
  color: #ffffff;
}



body {
  background-color: rgb(33,40,63);
  font-family: "Oswald Light";
}

h3, h4, h5 {
  font-family: "Oswald Bold";
}

h3 {
  color: #ffffff;
}

h5 {
  color: #ffffff;
}

p {
  font-family: "Oswald Light";
  font-size: 16px;
}

.lead  {
  font-family: "Oswald Regular";
  font-size: 36px;
  color: #ffffff;
  margin-top: 75px;
  margin-bottom: 40px;
}

.well {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px;
}

.quiet {
  color: #ababab;
}

div.nav_item {
  margin-left: 25px;
  float: left;
}

.label, .badge {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
    white-space:normal !important;
    -ms-word-break: break-all;

    /* Be VERY careful with this, breaks normal words wh_erever */
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
}

.badge {
  font-family: "Oswald Light";
  background: rgb(179,12,23);
  margin-right: 10px;
  color: #ffffff;
}

.badge:hover {
  background: rgb(77,174,74);
}

.post-badge {
  font-size: 20px;
}

div.comment_votes {
  padding: 10px;
}

.nav-tabs>li>a {
  color:#fff;
}

.nav-tabs > li.active > a, .nav-tabs>li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: rgb(179,12,23);
  border-color: rgb(179,12,23);
  color:#fff;
}

.nav-tabs>li>a:hover {
  background-color: rgba(33,40,63,0);
  border-color: rgba(33,40,63,0);
  color: rgb(179,12,23);
}

.message {
  background-color: rgb(33,40,63);
}

.alert-danger, #flash-danger {
  background-color: rgba(179,12,23,.8);
  border-color: rgba(179,12,23,0);
  color: #ffffff;
}

.alert-success {
  background-color: rgba(77,174,74,.8);
  border-color: rgba(77,174,74,0);
  color: #ffffff;
}

.close, .close:hover {
  color: #ffffff;
  opacity: 1;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.fa-heart-o, .fa-heart, .fa-bookmark-o, .fa-bookmark {
  margin-left: 30px;
}

.fa-heart, .fa-bookmark, .fa-comment, .fa-times-circle {
  color: rgb(179,12,23);
}

.post-box {
  background-color: #ffffff;
  min-height: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 4px;
}

.post-box-info-section {
  padding: 10px;
}

.post-box .bookmark {
  float: right;
}

.post-box-images {
  max-width:100%;
  height: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


.delete-comment {
  float: right;
}

.masonry {
  max-width: 100%;
}

.masonry .item {
  width:  100%;
  height: auto;
  float: left;
  word-wrap: break-word;
}

#post-title {
  margin-right: 50px;
}

@media (min-width: 480px) { 
  
  .masonry {
    margin-left: 15%;
  }

  .masonry .item {
    width:  80%;
    height: auto;
    float: left;
  }
  
}

@media (min-width: 767px) { 
  
  .masonry {
    margin-left: 10%;
  }

  .masonry .item {
    width:  40%;
    height: auto;
    float: left;
  }
  
}

@media (min-width: 992px) { 
  
  .masonry {
    margin-left: 4%;
  }

  .masonry .item {
    width:  30%;
    float: left;
  }
  
}


