/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
  font-family: "Oswald Light";
  src: font-url("Oswald-Light.otf");
}

@font-face {
  font-family: "Oswald Bold";
  src: font-url("Oswald-Bold.otf");
}

@font-face {
  font-family: "Oswald Regular";
  src: font-url("Oswald-Regular.otf");
}

@font-face {
  font-family: "Oswald Stencil";
  src: font-url("Oswald-Stencil.otf");
}

body {
  background-color: rgb(33,40,63);
}

h3, h4, h5 {
  font-family: "Oswald Bold";
}

h3 {
  color: #ffffff;
}

h5 {
  color: #ffffff;
}

p {
  font-family: "Oswald Light";
  font-size: 16px;
}





