<% header = link_to('All Posts', posts_path) + " &raquo; #{@category.name}".html_safe %>

<%= render 'shared/content_title', title: header  %>

<div class="masonry js-masonry"  data-masonry-options='{ "columnWidth": 60 }'>
  <% @category.posts.each do |post| %>
  	<div class='item'><%= render 'posts/post', post: post %></div>
  <% end %>
</div>